
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    main .about_me div .personal div.my_site span.hand i {
        transform: translate(183px, -11px);        
    }

    header.main_display h1 {
        font-size: 1.5rem;
    }


     header.main_display,
     section.about_me{
        margin-bottom: 35px; 
    }

    header p.web_html, 
    header p.skills {
        font-size: 14px ! important;
    }
    
    header p.web_html {
        margin-bottom: 9px;
    }
}


@media only screen and (max-width : 954px) {
    header.main_display .middle .skills{
        display: none;
    }
}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
    main .about_me div .personal div.my_site span.hand i {
        transform: translate(-104px, 19px);
    }

    footer .contacts .header h1 {
        margin-bottom: 70px;
    }
   
    main .portfolio .card .card-body .card-title {
        font-size: 0.8rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    main .portfolio .card .card-body .card-title {
        font-size: 0.7rem;
    }

    main .portfolio {
        padding-top: 50px;
    }

    main .portfolio .header div {
        font-size: 1rem;
    }

    main .portfolio .header h1 {
        margin-bottom: 47px;
    }

}


/* Small Devices, Tablets */
@media only screen and (max-width : 576px) {
   #portfolio__ .row.mb-sm-5 {
       padding-left: 60px;
       padding-right: 60px;
   }

   main .portfolio .last-card {
       margin-bottom: 4rem;
   }
   
}

@media only screen and (max-width : 544px) {
    main .portfolio .header div {
        font-size: 0.8rem;
    } 
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    header.main_display p img {
        transform: translateX(-106px) !important;
    }

    h1{
        font-size: 1.7rem !important;
    }
}
