@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&subset=cyrillic');

body {
    font-family: 'Open Sans', sans-serif;
}

.main_display {
    text-transform: uppercase;
}



.parallax-window {
    min-height: 100vh;
    background-color: transparent;
    text-align: center;
    /* background-image: url('../image/main_picture.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

h2 {
    margin-bottom: 30px;
} 
